html {
    scroll-behavior: smooth;
}

body{
   margin: 0px; 
   padding: 0px;
   font-family: Calibri, sans-serif;
}
.header {
    border-bottom: 2px solid rgb(65, 110, 195);
}

.page {
    
}

.column {
    width: 900px;
    margin: 0px auto;
}
.page .column {
    height: 100vh;
}

#logo_i_social {
    display: flex;
}

#logo {
    flex-grow: 1;
}

#logo img {
    height: 40px;
    width: 40px;
    margin: 5px;
}

#social {
    flex-grow: 1;
    text-align: right;
}

#social a {
    text-decoration: none;
}

#social a img {
    height: 30px;
    width: 30px;
    margin: 5px;
}

#main_nav {
    display: flex;
}

#main_nav  a {
    flex-grow: 1;
    text-align: center;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color:  rgb(65, 110, 195);
    transition: 200ms;
}

#main_nav  a:hover,
#main_nav  a.activ {
    background:  rgb(65, 110, 195);
    color: white;
}

#firstPage {
    text-align: center;
    color: white;
    background-image: url(pic/galaxy.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

#firstPage h1 {
    font-size: 48pt;
    margin-top: 0px;
    padding-top: calc(50vh - 125px);
}

.darkBox {
    background-color:  rgba(145, 160, 205, 0.5);
    border: 1px solid white;
    font-size: 24px;
}

#learn {
    background-image: url(pic/developer.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.alignCenter {
    text-align: center;
}

.circles {
    display: flex;
    margin: 50px 0px 100px 0px;
    padding: 25px 0px;
}

.circleHolder {
    flex-grow: 1;
    text-align: center;
}

.circle {
    background: rgb(65, 110, 195);
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    padding: 25%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circleText {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.tehnologies {
    display: flex;
    margin: 50px 0px;
}
.teh {
    flex-grow: 1;
    text-align: center;
}

.teh img {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.teh p {
    font-weight: bold;
}

.aboutUs {
    text-align: center;
    padding-top: calc(50vh - 43vh);
    padding-bottom: calc(50vh - 46vh);
}

#learn {
    color:white;
}

#learn h2 {
    text-align: center;
    padding-top: calc(50vh - 46vh);
    padding-bottom: calc(50vh - 49vh);
}

#learn p {
    font-size: large;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 0px 20px 30px rgb(0, 40, 115);
    font-weight: bold;
}

.courses {
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    
}

.courses > div {
    flex-grow: 1;
    text-align: center;
}

#learn img {
        height: 150px;
        width: 150px;
        margin: 5px;
    }

#learn a {
    text-decoration: none;
    color:rgb(65, 110, 195);
    font-weight: bold;
    text-align: center;
    background-color: white;
    border: 3px solid rgb(65, 110, 195);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(0, 40, 115);
    transition: 400ms;
}

.courses figure {
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(0, 40, 115);
}

#learn a :hover {
    color: rgb(0, 35, 100);
    text-shadow: 5px 5px 20px rgb(0, 40, 115);
    letter-spacing: 2px;
}

#services h2 {
    padding-top: calc(50vh - 41vh);
    padding-bottom: calc(50vh - 45vh);
    text-align: center;
    color: rgb(65, 110, 195);
}



.base {
    margin-top: 40px;
    height: 500px;
    display: grid;
    grid-template:  "a b c"
                    "d b e"
                    "f f g";
    align-content:  space-between;
    justify-content: space-between;
}

#service1 {
    grid-area: a;
}

#service2 {
    grid-area: b;
}

#service3 {
    grid-area: c;
}

#service4 {
    grid-area: d;
}

#service5 {
    grid-area: e;
}

#service6 {
    grid-area: f;
}

#service7 {
    grid-area: g;
}

.service{
    display: grid;
    grid-template: "region";
    align-content: stretch;
    justify-content: stretch;
    padding-bottom: 40px;
}

.service img {
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;
}

.service .textHolder {
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(22, 70, 160, 0.9);
    color: white;
    opacity: 0.0;
    transition: 500ms;
    text-align: center;
}

.service:hover .textHolder {
    opacity: 1.0;
    box-shadow: 5px 5px 20px rgb(0, 40, 115);
}

#career {
    background-image: url(pic/building.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#career h2 {
    padding-top: calc(50vh - 41vh);
    padding-bottom: calc(50vh - 45vh);
    text-align: center;
    color: white;
    font-size: 30px;
}

.careerColumns {
    display: flex;
}

.jobList {
    flex-grow: 1;
    flex-basis: 0;
}

.jobDescriptions {
    flex-grow: 2;
    flex-basis: 0;
}

.jobList label {
    display: block;
    margin-bottom: 10px;
    border: 1px solidwhite;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 40, 115);
    padding:  10px;
    font-weight: bold;
    font-size: 20px;
}

.jobDescriptions input {
    display: none;
}

.jobDescriptions .jobDescription {
    display: none;
}

.jobDescriptions input:checked+.jobDescription{
    display: block;
}

.jobDescription {
    margin-left: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 40, 115);
    padding:  10px;
    font-size: 20px;
}

#contact h2 {
    padding-top: calc(50vh - 41vh);
    padding-bottom: calc(50vh - 45vh);
    text-align: center;
}

.contactRegion {
    display: grid;
    grid-template: "address map"
                    "emails map";
    grid-template-columns: 300px 1fr;
}

.contactAddress {
    grid-area: address;
    padding-bottom: 15px;
    font-size: 14px;
}

.contactMails {
    grid-area: emails;
    font-size: 14px;
}

.contactMap {
    grid-area: map;
}

.footer {
    border-top: 2px solid rgb(65, 110, 195);
}

.footer > .column {
    display: flex;
}

.footer .footerColumn {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.redLink {
    text-decoration: none;
    color: red;
}

.redLink:hover {
    text-decoration: underline;
}
